AfridevV2.vpj
AfridevV2.vpw
AfridevV2.vpwhistu
AfridevV2.vtg
AfridevV2_MSP430_Boot/CCS_AfridevV2_MSP430_Boot/lnk_msp430g2955.cmd.orig
AfridevV2_MSP430_Water_Debug/CCS_AfridevV2_MSP430_Water_Debug/lnk_msp430g2955.cmd.orig
CCS_Workspace/
minicom.cap
